body {
    background-color: #f0f8ff; /* Azul claro para el fondo del cuerpo */
    color: #333; /* Color del texto principal */
    margin: 0;
    padding: 0;
}


h1 {
    margin: 5px;
    color: #4169e1; /* Azul real para el encabezado */
}

button {
    background-color: #4169e1; /* Azul real para los botones */
    color: #fff; /* Texto blanco para los botones */
    padding: 10px 20px;
    margin:5px 25px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #001f3f; /* Azul oscuro cuando se pasa el ratón sobre el botón */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #4169e1; /* Borde azul real para las celdas de la tabla */
    padding: 10px;
    text-align: left;
}

thead {
    background-color: #4169e1; /* Azul real para el encabezado de la tabla */
    color: #fff; /* Texto blanco para el encabezado de la tabla */
}

.columna1 {
    background-color: #87CEEB; /* Azul cielo para la columna 1 */
}

.columna2 {
    background-color: #ADD8E6; /* Azul claro para la columna 2 */
}

.columna3 {
    background-color: #B0C4DE; /* Azul acero claro para la columna 3 */
}
.columna4 {
    background-color: #87CEEB; /* Azul cielo para la columna 1 */
}

.columna1, .columna2, .columna3, .columna4{
    color: #000; /* Texto negro para las celdas de las columnas */
}
